body{
  background-color:lightblue;
}

main{
  background-color: white;
  border: black 10px;
  border-style: double;
  margin: 30px;
  padding: 30px;
  font-family: "Poppins";
}

.output{
  border: solid black 5px;
  padding: 15px;
}

.sourcelink{
  float: right;
}

img{
    object-fit: contain;
    width: 200px;
    height: auto;
  float: right;
}

h1, h2, h3{
  font-family: "Poppins";
}
