body{
  background-color: pink;
  background-image:url(../img/beach.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
}

main{
    background-color: white;
    border: solid 10px black;
    padding: 30px;
    font-family: "poppins";
  }

  h1, h2{
    font-family: "DotGothic16";
  }

  nav{
    font-family:"DotGothic16";
  }

#output{
  padding: 15px;
  border: black 5px solid;
}
